[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "==2.4.4"
autopep8 = "*"

[packages]
numpy="==1.18.0"
flake8="==3.7.9"
pytest = "*"

[requires]
python_version = "3.7"
