[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8="==3.7.9"
pytest-flake8 = "*"
pytest = "*"
gunicorn = "*"

[packages]
numpy="==1.18.0"
falcon = "*"

[requires]
python_version = "3.7"
